@{
    ViewData["Title"] = "ShowSuggestions";
    Layout = "AdminHeaderPartial";
}
@model List<BookSuggestions>
<h1>Suggestions</h1>

<head>
    <link rel="stylesheet" href="~/css/lib.css" asp-append-version="true" />
</head>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Operation</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookName</td>
                <td>@item.BookAuthor</td>
                <td>
                    <a id="operation" asp-controller="admin" asp-action="DeleteSuggestions" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

